doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Upcoming Events
        style. 
            body { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }            
    body 
        h1 Welcome to Upcoming Event app 
        p With this app you can view upcoming events from all over the world.

        block content

        script(src="https://unpkg.com/axios/dist/axios.min.js")
